//Переменные======================================

$color_accent1: #80DEEA    //акцентный цвет 1 (синий()
$color_accent2: #FDD835    //акцентный цвет 2 (жёлтый)
$color_additional: #288E9B    //дополнительный цвет (тёмно-синий)
$color_text1: #3B3B3B    //основной цвет текста (почти чёрный)
$color_text2: #AFAFAF    //дополнительный цвет текста (серый)
$gray_light: #F9F9F9    //светло-ссерый (подложка)
$white: #FFFFFF

$padding: 12px    //px для padding

$size_text1: 24px
$size_text2: 20px

//Mixins===========================================
@mixin border-radius($radius: 5px)
    -moz-border-radius: $radius
    -webkit-border-radius: $radius
    border-radius: $radius
    
@mixin box-sizing($box-sizing: border-box)
    -moz-box-sizing: $box-sizing
    -webkit-box-sizing: $box-sizing
    box-sizing: $box-sizing
    
@mixin box-shadow($shadow: 0 20px 30px rgba(0,0,0,0.2))
    -moz-box-shadow: #{$shadow}
    -webkit-box-shadow: #{$shadow}
    box-shadow: #{$shadow}

@mixin opacity($opacity: 0.9)
    -moz-opacity: $opacity
    filter: alpha(opacity=$opacity*100)
    opacity: $opacity
/*Zero ==============================================================*/
ul
    list-style: none
    margin: 0
    padding: 0
a
    text-decoration: none
body
    line-height: 1.5
/*Общие свойства ==============================================================*/
.paragraph
    color: $gray_light
    @include opacity
    span
        color: $color_accent1
        font:
            size: $size_text2
            weight: 700
.major-title
    margin: 50px 0 35px 0
    color: $color_text1
    font-size: 32px
/*==============================================================*/

/*Шапка ========================================================*/
.header-border
    border: 5px solid $color_accent1
    padding-top: 30px
    padding-bottom: 40px

.logo   
    font:
        size: 32px   
        weight: 800

    color: $color_text1
    text-transform: uppercase

    
nav
    ul
        text-align: right
        margin: 10px (-$padding)
    li
        display: inline-block
        
.nav_item
    display: inline-block
    padding: 8px $padding
    color: $color_additional
    height: 44px
    
    
    &:hover .nav_item_border
        display: inline-block
        border-bottom: 2px solid $color_accent2
    &:active
        color: $color_accent1

    

.contact
    margin: 0 (-$padding)
    text-align: right
    a
        color: $color_text1
        &:hover
            color: $color_text2
        
.phone
    display: inline-block
    padding: 5px $padding
    font:
        size: $size_text2
        weight: 700
    a
        padding: 5px $padding
    span
        border-bottom: 2px dashed $color_accent2
        
    
.call-back
    display: inline-block
    padding: 5px $padding
    font-weight: 600
    span
        border-bottom: 2px dashed $color_accent2
    a
        padding: 5px $padding
    i
        padding-right: 7px
        color: $color_accent2

      
/*Баннер ========================================================*/
.banner
    background-color: $color_additional

.banner_header
    margin: 35px 0 15px 0
    font:
        size: $size_text1
        weight: 600
    color: $white
    
.banner_salver
    margin: 20px 0
    padding: 15px 0 30px 0
    background-color: mix(white, $color_additional, 20%)
    text-align: center
    
.banner_paragraph-center
    margin: 0
    
//Шаблонные селекторы>>>>>>>>>>>>>>>>>
%input-and-button
    display: inline-block
    width: 235px
    margin-top: 15px
    padding: 6px 0 6px 15px
    @include border-radius
    text-align: left
    
        
%input
    border: 2px solid $color_text2
    background-color: $gray_light
    color: #888
    &:focus
        border: 2px solid $color_accent1
    
    
%button
    border: 2px solid $color_additional
    background-color: $white
    color: $color_additional
    &:hover
        border: 2px solid $color_accent2
    i
        color: $color_accent2
        padding-right: 6px
//Шаблонные селекторы<<<<<<<<<<<<<<<<<<<<<<<
        
.banner_salver_input-phone
    @extend %input-and-button
    @extend %input
        
.banner_salver_button
    @extend %input-and-button
    @extend %button
    
    
/*Услуги и цены ========================================================*/
.services-background
    background-color: $gray_light
    
.services_cart
    margin-bottom: 20px
    padding: 20px 0 40px
    background-color: $white
    border: 3px solid $color_accent1
    font-size: 14px
    li
        margin: 0 10px
        border-bottom: 1px solid $color_text2
        &:last-child
            border-bottom: none
        span
            display: inline-block
            padding: 5px
    &:hover
        @include box-shadow
    &:hover .services_cart_title
        color: $color_accent2
    
.services_cart_icon
    max-width: 60px
    margin: 0 auto
    
.services_cart_title
    text-align: center
    margin: 15px 0 20px
    font:
        size: $size_text2
        weight: 600

.services_cart_name-sarvice
    width: 75%
    
.services_cart_name-price
    width: 25%
    border-left: 1px solid $color_text2
    

/*Вызвать сантехника(плашка) ========================================================*/
.call-plumbing-background
    background-color: $color_additional
    padding-bottom: 20px
    
.call-plumbing-major-title
    color: $white
    margin: 0
    padding-top: 20px
    
.call-plumbing-paragraph
    margin: 0
    
.call-plumbing_form
    margin-right: -15px
    padding-top: 33px
    text-align: right
    
.call-plumbing_form_input-phone
    @extend %input-and-button
    @extend %input
    margin-right: 15px
    
.call-plumbing_form_button
    @extend %input-and-button
    @extend %button
    border: 2px solid $color_additional
    margin-right: 15px
    
    
/*Приемущества ========================================================*/
.advantages
    padding: 0 0 30px 0
    text-align: center

.advantages_icon
    display: inline-block
    max-width: 60px
    
.advantages_title
    margin: 0 0 5px
    font:
        size: $size_text2
        weight: 600
    color: $color_text1
    
.advantages_paragraph
    margin: 0
    color: #646464

    
/*Как сделать заказ(последовательность действий) ========================================================*/
.sequencing-and-contacts
    background-color: #EEEEEE
    padding-bottom: 30px
    
.sequencing
    position: relative
        
        
.sequencing-border
    position: absolute
    top: (24+10*2)/2+px
    bottom: (24+10*2)/2+px
    border-left: 2px solid $color_accent2
    

    
.sequencing_item
    margin-left: 25px
    margin-bottom: 15px
    position: relative
    background-color: $white
    &:last-child
        margin-bottom: 0
    p
        margin: 0
        padding: 10px 10px 10px 22.5px
        color: $color_additional

.sequencing_item_line
    border-top: 2px solid $color_accent2
    width: 25px
    position: absolute
    top: 50%
    right: 100%
    
.sequencing_item_number
    $size: 25px
    width: $size
    height: $size
    margin-top: -$size/2
    margin-right: -$size/2
    background-color: $color_additional
    @include border-radius($size)
    color: $white
    font-weight: 700
    text-align: center
    position: absolute
    top: 50%
    right: 100%
    span
        vertical-align: middle
        line-height: $size
    
    
/*Контакты ========================================================*/
.contacts-paragraph
    color: #646464
    span
        color: $color_additional

.contacts_form
    margin: -15px 0 0 -15px
    
.contacts_form_input-phone
    @extend %input-and-button
    @extend %input
    margin-left: 15px
        
    
    
.contacts_form_button
    @extend %input-and-button
    @extend %button
    margin-left: 15px
    
    
/*Подвал ========================================================*/
.footer
    margin-top: 10px
    padding-top: 20px
    background-color: $color_additional
    color: $gray_light
    
.footer_logo
    color: mix(white, $color_additional, 18%)
    
/*MEDIA ==================================================================*/

/*md*/
@media (max-width: 1199px)
    .call-plumbing_form
        padding-top: 0
        text-align: left
    .services_cart
        font-size: 16px
    .sequencing-border
        position: absolute
        bottom: (24*2+10*2)/2+px
 
/*sm*/
@media (max-width: 991px)
    .sequencing-border
        position: absolute
        bottom: (24+10*2)/2+px
    
/*xs*/
@media (max-width: 767px)
    .logo
        margin-bottom: 15px
    nav li
        display: block
    nav ul, .logo, .contact
        text-align: center
    .call-back
        display: block
        margin: 0 auto
    .call-plumbing_form, .call-plumbing-major-title, .call-plumbing-paragraph
        text-align: center
    .sequencing-border
        position: absolute
        top: (24*2+10*2)/2+px
        bottom: (24*2+10*2)/2+px
    .sequencing_item
        p
            display: table-cell
            height: 68px
            vertical-align: middle

    




    
    

    
    

        
