<h1>Услуги сантехника в Самаре упс</h1>
<ul>
    <li><a href="#services">Услуги и цены</a></li>
    <li><a href="#sequencing">Как сделать заказ</a></li>
    <li><a href="#contacts">Контакты</a></li>
</ul>
<a href="tel:+7 917 127-19-70">+7 917 127-19-70</a>
<a href="tel:+7 937 170-30-77">+7 937 170-30-77</a>
<p>Работаем в сфере сантехники уже <strong>более 20 лет</strong>. У нас вы сможете получить качественно сделанную работу по всем видам сантехнических услуг (установка счётчиков, смесителей, туалетов, ванн, монтаж труб...).</p>

<h2>Почему выбирают нас</h2>

<h4>Гарантия до 3 лет</h4>
<p>Гарантия даётся на абсолютно любую услугу. Срок гарантии зависит от вида услуги и качества самой сантехники. Если поломка произошла раньше времени, сантехник устранит проблему бесплатно.</p>

<h4>Бесплатная консультация</h4>
<p>Позвоните и узнайте причину вашей поломки бесплатно. Специалист доходчиво объяснит что нужно заменить, какую сантехнику лучше выбрать и что нужно учитывать при её покупке.</p>

<h4>Всегда трезвые</h4>
<p>От наших сантехников не будет пахнуть перегаром или табаком поскольку среди нас нет курящих и алкоголезависимых. Вы не услышите от них ни одного слова ненормативной лексики.</p>


<h2 id="services">Услуги и цены</h2>

<h3>Установка сантехники</h3>
<ul>
    <li>Установка счётчиков: <br>от <b>1 500</b> руб</br></li>
    <li>Установка смесителя: <br><b>800</b> руб</br> </li>
    <li>Установка раковины:<br><b>1 000</b> руб</br></li>
    <li>Установка унитаза:<br><b>1 000</b> руб</br> </li>
    <li>Установка унитаза (инсталляция):<br>2 500</b> руб</br> </li>
    <li>Установка ванны:<br><b>1 000 – 2 500</b> руб</br> </li>
    <li>Установка джакузи:<br><b>4 600</b> руб</br> </li>
    <li>Установка джакузи:<br><b>4 600</b> руб</br> </li>
    <li>Установка стиральной машины:<br><b>800</b> руб</br> </li>
    <li>Установка посудомоечной машины:<br><b>1 000 – 3 500</b> руб</br> </li>
    <li>Установка водонагревателя:<br><b>1 500</b> руб</br> </li>
    <li>Установка фильтровот: <br><b>1 000</b> руб</br> </li>
    <li>Установка насоса повышение давленияот: <br><b>1 000</b> руб</br> </li>
</ul>

<h3>Монтаж водоснабжения</h3>
<ul>
    <li>Замена водопроводных труб (полипропилен):<br>от <b>5 500</b> руб</br> </li>
    <li>Замена водопроводных труб (металлопласт):<br>от <b>7 500</b> руб</br> </li>
    <li>Замена водопроводных труб (сталь):<br>от <b>9 000</b> руб</br> </li>
    <li>Замена водопроводных труб (полиэтилен):<br>от <b>13 000</b> руб</br></li>
    <li>Замена водопроводных труб (медь):<br>от <b>17 000</b> руб</br> </li>
    <li>Замена водопроводных труб (Uponor):<br>от <b>22 000</b> руб</br> </li>
    <li>Замена стояка (полипропилен):<br>от <b>4 500</b> руб</br> </li>
    <li>Замена стояка (металлопласт):<br>от <b>6 000</b> руб</br> </li>
    <li>Замена стояка (сталь):<br>от <b>7 000</b> руб</br> </li>
    <li>Замена стояка (полиэтилен):<br>от <b>10 000</b> руб</br> </li>
    <li>Замена стояка (Uponor):<br>от <b>10 000</b> руб</br> </li>
    <li>Замена стояка (медь):<br>от <b>18 000</b> руб</br> </li>
    <li>Ремонт водопроводных трубот: <br>800</b> руб</br> </li>
</ul>

<h3>Монтаж отопления</h3>
<ul>
    <li>Замена радиаторов отопленияот: <br><b>1 500</b> руб</br></li>
    <li>Ремонт радиаторов отопленияот: <br><b>1 000</b> руб</br> </li>
    <li>Установка полотенцесушителяот: <br><b>1 500</b> руб</br> </li>
    <li>Установка котла отопления (навесной):<br>от <b>4 000</b> руб</br> </li>
    <li>Установка котла отопления (напольный):<br>от <b>7 000</b> руб</br></li>
    <li>Монтаж тёплого водяного пола 1м<sup>2</sup>:<br><b>250 – 1 000</b> руб</br> </li>
    <li>Монтаж системного блока для тёплого пола:<br><b>10 000</b> руб</br></li>
</ul>

<h3>Устранение засоров</h3>
<ul>
    <li>Засор сифона в раковинеот :<br><b>500</b> руб</br> </li>
    <li>Засор сифона в мойкеот :<br><b>500</b> руб</br> </li>
    <li>Засор сифона в раковинеот :<br><b>500</b> руб</br> </li>
    <li>Засор сифона в ваннойот :<br><b>700</b> руб</br> </li>
    <li>Засор унитазаот :<br><b>1 500</b> руб</br></li>
    <li>Засор унитаза (инсталляция):<br>от <b>2 000</b> руб</br> </li>
    <li>Засор в канализационных трубах:<br><b>1 000</b> руб</br> </li>
</ul>

<h3>Ремонт сантехники</h3>
<ul>
    <li>Ремонт унитаза:<br><b>1 000</b> руб</br> </li>
    <li>Ремонт смесителя:<br><b>1 000</b> руб</br> </li>
</ul>

<h3>Замена канализации</h3>
<ul>
    <li>Замена канализационных трубот: <br><b>2 500</b> руб</br> </li>
    <li>Замена стояка канализацииот: <br><b>4 500</b> руб</br> </li>
</ul>

<p>Если вы хотите <strong>вызвать сантехника на дом</strong>, но беспокоитесь о качестве услуг, то вот что вам нужно о нас знать:</p>
<ul>
<li><strong>Более 20 лет</strong> мы оказываем услуги по сантехнике в Самаре. За это время мы научились выполнять свою работу <strong>качественно и чисто.</strong></li>
<li>Мы <strong>предоставляем гарантию до трёх лет</strong> на все сантехнические услуги. Если работа сантехника пришла вне годность раньше времени, мы устраним поломку бесплатно.</li>
<li>Мы постоянно <strong>следим за новинками</strong> в технологиях по сантехнике и применяем их в своей работе что бы с максимальной эффективностью выполнить её, и чтобы вы не знали что такое затопить соседей тремя этажами ниже.</li>
<li>Мы <strong>любим свою работу,</strong> по этому делаем её добросовестно. </li>
</ul>
<p>Услуги сантехника в Самаре могут быть необходимы как при серьёзных проблемах, так и при малозначительных. За частую <strong>своевременный вызов сантехника</strong> поможет вам избежать ситуаций, которые могут отразиться на ваших отношениях с соседями. Наша компания занимается всеми видами сантехнических услуг, от установки смесителя до разводки и монтажа труб, поэтому любая проблема с водопроводом будет устранена.</p>

<h2 id="sequencing">Как сделать заказ</h2>

<ol>
    <li>Вы связываетесь с нами</li>
    <li>Мы консультируем и оцениваем стоимость услуг</li>
    <li>Мы приезжаем и выполняем работу</li>
    <li>Вы оплачиваете качественно выполненную работу</li>
</ol>

<h2 id="contacts">Контакты</h2>
<p>Задайте любой вопрос нашему специалисту по телефону:
<br><b><a href="tel:+7 917 127-19-70">+7 917 127-19-70</a></b></br></p>
или написать нам на почту:
<br><b><a href="mailto:help@santehuslug.ru">help@santehuslug.ru</a></b></br></p>
<p><strong>Услуги сантехника в Cамаре 2017 год</strong></p>





