@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800');
body {font-family: 'Open Sans', sans-serif;}

/*Обнуление
==============================================================*/
ul {
  list-style: none; 
  margin: 0;
  padding-left: 0;
}
a {text-decoration: none;}
a:hover {text-decoration: none;}
/*(Конец)Обнуление
