@charset "UTF-8";
/*Zero ============================================================== */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  line-height: 1.5; }

/*╨Ю╨▒╤Й╨╕╨╡ ╤Б╨▓╨╛╨╣╤Б╤В╨▓╨░ ============================================================== */
.paragraph {
  color: #F9F9F9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
  opacity: 0.9; }
  .paragraph span {
    color: #80DEEA;
    font-size: 20px;
    font-weight: 700; }

.major-title {
  margin: 50px 0 35px 0;
  color: #3B3B3B;
  font-size: 32px; }

/*============================================================== */
/*╨и╨░╨┐╨║╨░ ======================================================== */
.header-border {
  border: 5px solid #80DEEA;
  padding-top: 30px;
  padding-bottom: 40px; }

.logo {
  font-size: 32px;
  font-weight: 800;
  color: #3B3B3B;
  text-transform: uppercase; }

nav ul {
  text-align: right;
  margin: 10px -12px; }
nav li {
  display: inline-block; }

.nav_item {
  display: inline-block;
  padding: 8px 12px;
  color: #288E9B;
  height: 44px; }
  .nav_item:hover .nav_item_border {
    display: inline-block;
    border-bottom: 2px solid #FDD835; }
  .nav_item:active {
    color: #80DEEA; }

.contact {
  margin: 0 -12px;
  text-align: right; }
  .contact a {
    color: #3B3B3B; }
    .contact a:hover {
      color: #AFAFAF; }

.phone {
  display: inline-block;
  padding: 5px 12px;
  font-size: 20px;
  font-weight: 700; }
  .phone a {
    padding: 5px 12px; }
  .phone span {
    border-bottom: 2px dashed #FDD835; }

.call-back {
  display: inline-block;
  padding: 5px 12px;
  font-weight: 600; }
  .call-back span {
    border-bottom: 2px dashed #FDD835; }
  .call-back a {
    padding: 5px 12px; }
  .call-back i {
    padding-right: 7px;
    color: #FDD835; }

/*╨С╨░╨╜╨╜╨╡╤А ======================================================== */
.banner {
  background-color: #288E9B; }

.banner_header {
  margin: 35px 0 15px 0;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF; }

.banner_salver {
  margin: 20px 0;
  padding: 15px 0 30px 0;
  background-color: #53a5af;
  text-align: center; }

.banner_paragraph-center {
  margin: 0; }

.banner_salver_input-phone, .banner_salver_button, .call-plumbing_form_input-phone, .call-plumbing_form_button, .contacts_form_input-phone, .contacts_form_button {
  display: inline-block;
  width: 235px;
  margin-top: 15px;
  padding: 6px 0 6px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: left; }

.banner_salver_input-phone, .call-plumbing_form_input-phone, .contacts_form_input-phone {
  border: 2px solid #AFAFAF;
  background-color: #F9F9F9;
  color: #888; }
  .banner_salver_input-phone:focus, .call-plumbing_form_input-phone:focus, .contacts_form_input-phone:focus {
    border: 2px solid #80DEEA; }

.banner_salver_button, .call-plumbing_form_button, .contacts_form_button {
  border: 2px solid #288E9B;
  background-color: #FFFFFF;
  color: #288E9B; }
  .banner_salver_button:hover, .call-plumbing_form_button:hover, .contacts_form_button:hover {
    border: 2px solid #FDD835; }
  .banner_salver_button i, .call-plumbing_form_button i, .contacts_form_button i {
    color: #FDD835;
    padding-right: 6px; }

/*╨г╤Б╨╗╤Г╨│╨╕ ╨╕ ╤Ж╨╡╨╜╤Л ======================================================== */
.services-background {
  background-color: #F9F9F9; }

.services_cart {
  margin-bottom: 20px;
  padding: 20px 0 40px;
  background-color: #FFFFFF;
  border: 3px solid #80DEEA;
  font-size: 14px; }
  .services_cart li {
    margin: 0 10px;
    border-bottom: 1px solid #AFAFAF; }
    .services_cart li:last-child {
      border-bottom: none; }
    .services_cart li span {
      display: inline-block;
      padding: 5px; }
  .services_cart:hover {
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); }
  .services_cart:hover .services_cart_title {
    color: #FDD835; }

.services_cart_icon {
  max-width: 60px;
  margin: 0 auto; }

.services_cart_title {
  text-align: center;
  margin: 15px 0 20px;
  font-size: 20px;
  font-weight: 600; }

.services_cart_name-sarvice {
  width: 75%; }

.services_cart_name-price {
  width: 25%;
  border-left: 1px solid #AFAFAF; }

/*╨Т╤Л╨╖╨▓╨░╤В╤М ╤Б╨░╨╜╤В╨╡╤Е╨╜╨╕╨║╨░(╨┐╨╗╨░╤И╨║╨░) ======================================================== */
.call-plumbing-background {
  background-color: #288E9B;
  padding-bottom: 20px; }

.call-plumbing-major-title {
  color: #FFFFFF;
  margin: 0;
  padding-top: 20px; }

.call-plumbing-paragraph {
  margin: 0; }

.call-plumbing_form {
  margin-right: -15px;
  padding-top: 33px;
  text-align: right; }

.call-plumbing_form_input-phone {
  margin-right: 15px; }

.call-plumbing_form_button {
  border: 2px solid #288E9B;
  margin-right: 15px; }

/*╨Я╤А╨╕╨╡╨╝╤Г╤Й╨╡╤Б╤В╨▓╨░ ======================================================== */
.advantages {
  padding: 0 0 30px 0;
  text-align: center; }

.advantages_icon {
  display: inline-block;
  max-width: 60px; }

.advantages_title {
  margin: 0 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: #3B3B3B; }

.advantages_paragraph {
  margin: 0;
  color: #646464; }

/*╨Ъ╨░╨║ ╤Б╨┤╨╡╨╗╨░╤В╤М ╨╖╨░╨║╨░╨╖(╨┐╨╛╤Б╨╗╨╡╨┤╨╛╨▓╨░╤В╨╡╨╗╤М╨╜╨╛╤Б╤В╤М ╨┤╨╡╨╣╤Б╤В╨▓╨╕╨╣) ======================================================== */
.sequencing-and-contacts {
  background-color: #EEEEEE;
  padding-bottom: 30px; }

.sequencing {
  position: relative; }

.sequencing-border {
  position: absolute;
  top: 22px;
  bottom: 22px;
  border-left: 2px solid #FDD835; }

.sequencing_item {
  margin-left: 25px;
  margin-bottom: 15px;
  position: relative;
  background-color: #FFFFFF; }
  .sequencing_item:last-child {
    margin-bottom: 0; }
  .sequencing_item p {
    margin: 0;
    padding: 10px 10px 10px 22.5px;
    color: #288E9B; }

.sequencing_item_line {
  border-top: 2px solid #FDD835;
  width: 25px;
  position: absolute;
  top: 50%;
  right: 100%; }

.sequencing_item_number {
  width: 25px;
  height: 25px;
  margin-top: -12.5px;
  margin-right: -12.5px;
  background-color: #288E9B;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 100%; }
  .sequencing_item_number span {
    vertical-align: middle;
    line-height: 25px; }

/*╨Ъ╨╛╨╜╤В╨░╨║╤В╤Л ======================================================== */
.contacts-paragraph {
  color: #646464; }
  .contacts-paragraph span {
    color: #288E9B; }

.contacts_form {
  margin: -15px 0 0 -15px; }

.contacts_form_input-phone {
  margin-left: 15px; }

.contacts_form_button {
  margin-left: 15px; }

/*╨Я╨╛╨┤╨▓╨░╨╗ ======================================================== */
.footer {
  margin-top: 10px;
  padding-top: 20px;
  background-color: #288E9B;
  color: #F9F9F9; }

.footer_logo {
  color: #4fa2ad; }

/*MEDIA ================================================================== */
/*md */
@media (max-width: 1199px) {
  .call-plumbing_form {
    padding-top: 0;
    text-align: left; }

  .services_cart {
    font-size: 16px; }

  .sequencing-border {
    position: absolute;
    bottom: 34px; } }
/*sm */
@media (max-width: 991px) {
  .sequencing-border {
    position: absolute;
    bottom: 22px; } }
/*xs */
@media (max-width: 767px) {
  .logo {
    margin-bottom: 15px; }

  nav li {
    display: block; }

  nav ul, .logo, .contact {
    text-align: center; }

  .call-back {
    display: block;
    margin: 0 auto; }

  .call-plumbing_form, .call-plumbing-major-title, .call-plumbing-paragraph {
    text-align: center; }

  .sequencing-border {
    position: absolute;
    top: 34px;
    bottom: 34px; }

  .sequencing_item p {
    display: table-cell;
    height: 68px;
    vertical-align: middle; } }

/*# sourceMappingURL=main.css.map */
